/* Responsive */
@media screen and (max-width: 768px) {
    .nav-links {
      flex-direction: column;
      display: none;
      width: 100%;
      background-color: #283c86;
      position: absolute;
      top: 60px;
      left: 0;
    }
  
    .nav-links.active {
      display: flex;
    }
  
    .hamburger {
      display: block;
    }
  
    .menu-toggle {
      display: block;
    }
    .home {
      padding-top: 100px;
    }
    .home-content .text h2 {
      font-size: 20px;
    }
  
    .home-content .text p , .typing {
      font-size: 10px;
    }
   .profile-img{
    width: 125px;
    height: 125px;
   }
  
    .project-list {
      flex-direction: column;
      align-items: center;
    }
  }